
h2{
	color: #2F8D46;
}

.finish {
	text-align: center
}

#form fieldset:not(:first-of-type) {
	display: none
}

#form .previous-step, .next-step {
	width: 100px;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px 10px 0px;
	float: right
}

.form, .previous-step {
	background: #616161;
}

.form, .next-step {
	background: #2F8D46;
}

#form .previous-step:hover,
#form .previous-step:focus {
	background-color: #000000
}

#form .next-step:hover,
#form .next-step:focus {
	background-color: #2F8D46
}

.text {
	color: #2F8D46;
	font-weight: normal
}

#progressbar {
	overflow: hidden;
	color: lightgrey
}

#progressbar .active {
	color: #2F8D46
}

#progressbar li {
	list-style-type: none;
	font-size: 15px;
	width: 7%;
	float: left;
	position: relative;
	font-weight: 400
}

#progressbar #step0:before {
	content: "0"
}
#progressbar #step1:before {
	content: "1"
}

#progressbar #step2:before {
	content: "2"
}

#progressbar #step3:before {
	content: "3"
}

#progressbar #step4:before {
	content: "4"
}
#progressbar #step5:before {
	content: "5"
}
#progressbar #step6:before {
	content: "6"
}
#progressbar #step7:before {
	content: "7"
}
#progressbar #step8:before {
	content: "8"
}
#progressbar #step9:before {
	content: "9"
}
#progressbar #step10:before {
	content: "10"
}
#progressbar #step11:before {
	content: "11"
}
#progressbar #step12:before {
	content: "12"
}
#progressbar #step13:before {
	content: "13"
}
#progressbar #step14:before {
	content: "14"
}
#progressbar #step15:before {
	content: "15"
}
#progressbar #step16:before {
	content: "16"
}

#progressbar li:before {
	width: 50px;
	height: 50px;
	line-height: 45px;
	display: block;
	font-size: 20px;
	color: #ffffff;
	background: lightgray;
	border-radius: 50%;
	margin: 0 auto 10px auto;
	padding: 2px
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: lightgray;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
	background: #2F8D46
}

.progress {
	height: 20px
}

.progress-bar {
	background-color: #2F8D46
}